<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Settlement Preview</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="min-h-screen bg-cover bg-center bg-fixed"
    style="background-image: url('{% static 'images/background.jpg' %}')"
  >
    <header class="text-center py-3 text-white/80 bg-black/50">
      <h6 class="text-xl font-medium uppercase">
        Gratuity & Annual Leave Calculator
      </h6>
    </header>

    <div class="bg-white p-8 rounded-md shadow-md max-w-5xl mx-auto mt-14">
      <h2 class="text-md font-bold text-center text-gray-800 mb-8 uppercase">
        Final Settlement Document
      </h2>

      <table class="w-full text-left border-collapse mt-8">
        <tbody>
          <tr class="bg-gray-50">
            <th
              class="p-4 w-1/4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Employee Name
            </th>
            <td class="p-4 w-1/4 border-b border-gray-300">{{ emp_name }}</td>
            <th
              class="p-4 w-1/4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Joining Date
            </th>
            <td class="p-4 w-1/4 border-b border-gray-300">{{ jd }}</td>
          </tr>
          <tr>
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Ending Date
            </th>
            <td class="p-4 border-b border-gray-300">{{ ed }}</td>
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Employment Days
            </th>
            <td class="p-4 border-b border-gray-300">{{ employment_days }}</td>
          </tr>
          <tr class="bg-gray-50">
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Absence Days
            </th>
            <td class="p-4 border-b border-gray-300">{{ absence_days }}</td>
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Eligible Gratuity Days
            </th>
            <td class="p-4 border-b border-gray-300">{{ eligible_days }}</td>
          </tr>
          <tr>
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Pending AL Days
            </th>
            <td class="p-4 border-b border-gray-300">{{ pending_al }}</td>
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Pending AL Salary
            </th>
            <td class="p-4 border-b border-gray-300">
              {{ pending_al_salary }}
            </td>
          </tr>
          <tr class="bg-gray-50">
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Gratuity
            </th>
            <td class="p-4 border-b border-gray-300">{{ gratuity }}</td>
            <th
              class="p-4 font-semibold text-gray-700 border-b border-gray-300"
            >
              Total Payable
            </th>
            <td class="p-4 font-bold text-green-700 border-b border-gray-300">
              {{ total_payable }}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-right mt-8">
        <a
          href="{% url 'input_page' %}"
          class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300"
          >Back</a
        >
      </div>
    </div>
  </body>
</html>
